//? ################################## Variables #####################################################
$color-bg: #1c1e29;
$color-bg-variant: #282a36;
// $color-primary: #4aee88;
$color-primary: hsl(328, 100%, 45%);
$color-primary-variant: hsl(328, 80%, 45%);
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);